.spaceship {
  margin-left: 145px;
  margin-top: -20px;
  width: 300px;
  height: 130;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spaceship img {
  max-width: 100%;
  max-height: 100%;
}
