.game-container {
  padding-top: 150px;
  width: 100vw;
  height: 100vh;  
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.alien-game{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.alien-background{
    z-index: -3;
    background-image: url("/public/alien-images/alien-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   }

   .win-message {
    position: absolute;
    font-family: Arial, sans-serif;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(4, 185, 19, 0.527);
    color: white;
    width: 550px;
    padding: 20px 40px;
    font-size: 24px;
    border: 4px solid white;
    border-radius: 15px;
    z-index: 1005;
    text-align: center;

  }

  .alien-start-button:hover{
    background-color: #600bba;
    color: white;
  }

  .alien-start-button {
    position: absolute;
      padding: 10px 20px;
      font-size: 22px;
      background-color: #8c3de0;
      color: black;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 460px;
      margin-left: -40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .alien-restart-button:hover{
      background-color: #600bba; 
      color: white;
    }

    .alien-restart-button {
      position: absolute;
      padding: 10px 20px;
      font-size: 22px;
      background-color: #8c3de0;
      color: black;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 420px;
      margin-left: -80px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

  .alien-timer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
  }

  .alien-top-scores {
    height: auto;
    margin-top: -325px;
    margin-left: -1100px;
    position: fixed;
    padding: 15px;
    background: linear-gradient(#bd8eeb75, #4900e6ae);
    border-radius: 20px;
    text-align: left;
    border: 5px solid rgba(157, 0, 255, 0.735);
    width: 350px;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.511);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .alien-top-scores h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 8px;
    box-shadow: 2px 3px 2px black;
    background-color: rgba(63, 42, 165, 0.523);
    color: #5fd3f9ea;
    border-radius: 15px;
    width: 100%;
    text-shadow: 2px 2px 4px #000;
    padding: 5px 0;
  }
  
  .alien-top-scores ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .alien-top-scores li.header,
  .alien-top-scores li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
  }
  
  .alien-score {
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .alien-top-scores li.alien-header {
    font-size: 1.2em;
    color: #bae8fff9;
    border-bottom: 2px solid #ff03fb98;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-top: 10px;
  }
  
  .alien-top-scores li {
    color: #55fc84;
  }
  
  .alien-top-scores li span {
    flex: 1;
    text-align: center;
  }
  
  .alien-top-scores li span:nth-child(2) {
    flex: 0.1;
  }
  


