body {
  background-image: url("/public/homepage-background.jpg");
  background-size: cover;
}


body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content span {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.carousel-slide {
  display: flex;
}

.card-container {
  width: 309px;
  height: 202px;
}

.card-link {
  text-decoration: none;
}

.card {
  background-color: #1144de;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 4px solid #a31ba8;
  transition: transform 0.3s ease; 
}

.card:hover {
  transform: scale(1.04);
  border-color: gold;
}

.card-image {
  width: 301px;
  height: 202px;
  object-fit: cover;
  border-radius: 8px;
  padding-bottom: 15px;
}

.card-content {
  text-align: center;
  padding-bottom: 10px;
}

.card-content span {
  font-size: 18px;
  font-weight: bold;
}

.card-container {
  margin-right: 16px;
}

.carousel-control {
  cursor: pointer;
  background-color: #033645;
  border: 3px solid #a31ba8;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
}

.carousel-control.prev {
  margin-top: 60px;
  margin-right: 20px;
  color: #ffffff;
}

.carousel-control.next {
  margin-top: 60px;
  margin-left: 10px;
  color: #ffffff;
}

.carousel-control svg {
  stroke-width: 2px;
}

.carousel-control:hover {
  background-color: #a31ba8;
  border-color: #a31ba8;

}
