html,
body {
  margin: 0;
  padding: 0;
  font-family: "Bungee Hairline", cursive;
  height: 100%;
  width: 100%;
  background-image: url('/public/arcade-pong1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.pong-game-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  width: 600px;
  height: 260px;
  margin: auto;
  margin-top: 180px; 
  border: 4px solid black;
  padding: 0px; 
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(202, 35, 88);
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 100px;
}

.score {
  flex: 1;
  text-align: center;
}

.bubble {
  display: inline-block;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

canvas {
  border: 2px solid black;
  background-color: #000;
}

.controls {
  position: absolute; 
  top: 20%; 
  left: 20px; 
  transform: translateY(-50%); 
}

.controls button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px; 
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.controls button:hover {
  opacity: 0.9;
}

.game-over {
  color: rgb(202, 35, 88);
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.title {
  color: rgb(250, 0, 117);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}
