.whac-a-mole {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  text-align: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
  padding-top: 200px;
 
}

.whac-a-mole-wrapper {
  width: 100%;
  height: 100%;
}

.hide-cursor {
  cursor: none;
}

.app {
  position: relative;
}

.mole-background {
  z-index: -3;
  background-image: url("/public/mole-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.holes {
  position: relative;
  justify-content: center;
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}

.mole-hole {
  justify-content: center;
}

.mole-title {
  text-align: center;
  background-color: rgb(24, 178, 37);
  border-radius: 10px;
  margin-top: 25px;
}

.hammer {
  position: fixed;
  width: 110px;
  height: auto;
  pointer-events: none;
  transform: translate(-50px, -50px) rotate(45deg);
  transition: transform 0.05s;
  z-index: 1000;
}

.hammer.down {
  transform: translate(-50px, -50px) rotate(20deg);
}

.hit-message {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
  font-size: 24px;
  color: red;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(234, 255, 0, 0.578);
  padding: 10px;
}

.hit.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

.play-again {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.play-again button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 110px;
}
