body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/mole-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
  border: 3px solid blue;
}

.whac-a-mole {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  height: 700px;
  position: relative;
}

.hide-cursor {
  cursor: none;
}

.holes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}

.holes {
  margin-top: 255px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: relative;
}

.mole-title {
  height: 60px;
  line-height: 15px;
  text-align: center;
  background-color: rgba(24, 178, 37, 0.484);
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
  padding: 0 20px;
  z-index: 1;
  position: absolute;
  top: 105px;
  box-sizing: border-box;
}

.hammer {
  position: fixed;
  width: 110px;
  height: auto;
  pointer-events: none;
  transform: translate(-50px, -50px) rotate(45deg);
  transition: transform 0.05s;
  z-index: 1000;
}

.hammer.down {
  transform: translate(-50px, -50px) rotate(20deg);
}

.hit-message {
  position: fixed;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
  font-size: 24px;
  color: red;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(212, 230, 6);
  padding: 10px;
  z-index: 2000;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  font-size: 24px;
  z-index: 1;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

.play-again {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 55%;
  left: 50.5%;
  transform: translateX(-50%);
  z-index: 2;
}

.mole-background {
  background-size: cover;
  background-image: url("/public/mole-background.png");
  z-index: -1;
}

.play-again button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 45px;
  font-size: 18px;
  background-color: rgb(24, 178, 37);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.start-game {
  width: 200px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: 2000;
}

.start-game button {
  padding: 10px 20px;
  margin-top: 105px;
  font-size: 18px;
  background-color: rgb(24, 178, 37);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.play-again button:hover,
.start-game button:hover {
  background-color: #1f7f2b;
}

.top-scores {
  margin-top: -325px;
  margin-left: -1100px;
  position: fixed;
  padding: 15px;
  background: linear-gradient(#ffa20075, #e6b800ae);
  border-radius: 20px;
  text-align: left;
  border: 5px solid rgba(255, 166, 0, 0.735);
  width: 300px;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.511);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top-scores h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -70px;
  box-shadow: 2px 3px 2px black;
  background-color: rgba(165, 42, 42, 0.523);
  color: #f9924eea;
  border-radius: 15px;
  width: 100%;
  text-shadow: 2px 2px 4px #000;
  padding: 5px 0;
}

.top-scores ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.top-scores li.header,
.top-scores li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

.score {
  margin-top: 5px;
  margin-left: 10px;
}

.top-scores li.header {
  font-size: 1.4em;
  color: #eccb27f9;
  border-bottom: 2px solid #eccb27f9;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.top-scores li {
  color: #bcfc55;
}

.top-scores li span {
  flex: 1;
  text-align: center;
}

.top-scores li span:nth-child(2) {
  flex: 0.1;
}

.score-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  font-size: 24px;
  z-index: 1;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.badge {
  position: absolute;
  top: 185px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  background: linear-gradient(
    45deg,
    #e18c15dc 35%,
    #d8d406 100%,
    #928102a5 35%
  );
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #000000;
  font-family: "Arial", cursive;
  border: 2px #ffa303;
  border-radius: 25px;
}

.badge-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-score {
  font-size: 32px;
  font-weight: bold;
  margin-top: 5px;
  flex: wrap;
  border-width: 10px;
}

.badge::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #eaca00;
}

.mole-hole {
  width: 80px;
  height: 80px;
  background-color: #dddddd53;
  border-radius: 50%;
  position: absolute;
}

.mole-hole.game-over {
  cursor: pointer;
}

.burst-image {
  z-index: 999;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splat-image {
  z-index: 999;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hole-0 {
  top: 10px;
  left: 160px;
}
.hole-1 {
  top: 70px;
  left: 20px;
}
.hole-2 {
  top: 70px;
  right: 20px;
}
.hole-3 {
  bottom: 70px;
  left: 20px;
}
.hole-4 {
  bottom: 70px;
  right: 20px;
}
.hole-5 {
  bottom: 10px;
  left: 160px;
}
.hole-6 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
