.RPSJokerAce-container body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.RPSJokerAce-container .App {
  text-align: center;
}

.RPSJokerAce-container .game {
  background-color: rgb(255, 156, 156);
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  color: #ffffff;
}

.RPSJokerAce-container .game-title {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  background-color: #645151;
  border-radius: 15px;
  margin-bottom: 20px;
}

body.RPS_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../public/RPS_background.jpeg");
  background-repeat: repeat;
}


.RPSJokerAce-container .player,
.RPSJokerAce-container .cpu {
  margin: 20px 0;
}

.RPSJokerAce-container .player-container,
.RPSJokerAce-container .cpu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}

.RPSJokerAce-container .player-container {
  order: 2; 
}

.RPSJokerAce-container .cpu-container {
  order: 1; 
}

.RPSJokerAce-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 120px; 
  margin: 0 10px;
  border-radius: 25px;
  border: none;
  background-color: #ff6f61;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

.RPSJokerAce-container button:hover {
  background-color: #ff4f41;
  transform: scale(1.05);
}

.RPSJokerAce-container button:disabled {
  background-color: #ffb9b9;
  cursor: not-allowed;
}

.RPSJokerAce-container h2 {
  margin: 10px 0;
}

.RPSJokerAce-container .button-container {
  display: flex;
  justify-content: center; 
  position: absolute;
  bottom: 20px; 
  width: 100%; 
}

.RPSJokerAce-container .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.RPSJokerAce-container .modal {
  background-color: #d79090;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%; 
  z-index: 101; 
}

.RPSJokerAce-container .card-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.RPSJokerAce-container .card {
  width: 100px;
  height: 150px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.RPSJokerAce-container .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.RPSJokerAce-container .card:hover {
  transform: scale(1.05);
}

.RPSJokerAce-container .card.selected {
  box-shadow: 0 0 10px 5px rgba(255, 215, 0, 0.8); 
}

.RPSJokerAce-container .card.disabled {
  opacity: 0.5;
  pointer-events: none;
}
